/* Standard font */
@font-face {
    font-family: 'Quicksand';
    src: url('fonts/Quicksand/Quicksand-VariableFont_wght.ttf') format('truetype'),
    url('fonts/Quicksand/Quicksand-VariableFont_wght.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/* Bold font */
@font-face {
    font-family: 'Quicksand';
    src: url('fonts/Quicksand/Quicksand-VariableFont_wght.ttf') format('truetype'),
    url('fonts/Quicksand/Quicksand-VariableFont_wght.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}

h1, h2 {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

h2 {
    animation: fading 10s infinite alternate;
    font-weight: normal;
}

button {
    outline: none;
    height: 40px;
    text-align: center;
    width: 130px;
    border-radius: 40px;
    background: #fff;
    border: 2px solid #ff9c00;
    color: #ff9c00;
    letter-spacing: 1px;
    margin: 10px;
    cursor: pointer;
    font-size: 1em;
}

@keyframes fading {
    from {
        opacity: 80%;
    }

    to {
        opacity: 30%;
    }
}

.controls {
    margin: 25px;
}

.controls span {
    margin: 0px 25px;
}

ul {
    list-style: none;
}

.card {
    display: inline-block;
    border: 1px solid #333;
    padding: 15px 25px;
    border-radius: 5px;
    margin: 5px;
}

.card-title {
    text-align: center;
    display: block;
}

.indicator {
    border: 1px solid gray;
    font-size: .8em;
    text-align: center;
    margin: 15px 8px 8px 0;
    display: inline-block;
    min-width: 40px;
}

.indicator div {
    line-height: 1.5em;
}

.indicator-label {
    border-top: 1px solid gray;
}
